.siglePhoto {
}
.zoom-icon {
  position: relative;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -0%);
  opacity: 0;
  transition: 0.5s;
}
.singlePhoto:hover .zoom-icon {
  opacity: 1;
}
