.footer-section {
  padding: 40px 0px;
  background: #2e3e4e;
}
.contact-header {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}
.contact-header h3 {
  font-size: 2.5em;
  font-family: "Arvo", serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #ef664d;
}
.contact-header p {
  line-height: 1.5em;
  font-size: 15px;
  color: #fefefe;
  padding: 25px 0;
}
.social-icon {
  text-align: center;
  padding: 30px 0;
}
.social-icon a i.icon1 {
  background-position: 0px 0px;
}

.social-icon a {
  width: 25px;
  height: 25px;
  display: inline-block;
  color: white;
  margin: 0px 10px;
}
.icon :hover {
  color: #ef664d;
}
.icon {
  font-size: 20px;
}
.contact {
  padding-bottom: 4em;
  border-bottom: 1px solid#55626f;
}
.contactgrid {
  padding-bottom: 2em;
}
.contactgrid input[type="text"] {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid#d5d6d7;
  font-size: 15px;
  color: #d5d6d7;
  text-transform: capitalize;
  padding: 10px 0;
}
.contactgrid1 textarea {
  /* width: 100%;
  background: none;
  outline: none;
  border: none;
  resize: none;
  border-bottom: 1px solid#d5d6d7;
  font-size: 15px;
  color: #d5d6d7;
  text-transform: capitalize;
  padding: 10px 0;
  height: 2.8em; */
  width: 100%;
  background: none;
  border: 0;
  border-bottom: 1px solid#d5d6d7;
  padding: 10px 0;
  height: 2.8em;
}
.contactgrid2 {
  padding: 2em 0 0 17em;
}
.contactgrid2 input[type="submit"] {
  color: #ef664d;
  background: none;
  border: none;
  font-size: 15px;
  outline: none;
  text-transform: uppercase;
}
